<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nuovo utente</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/user}" th:object="${user}"
		method="post">
		
			<div>
				<span th:text="#{label.username}">Username: </span> <span><input
					type="text" th:field="*{username}" /></span> <span
					th:if="${#fields.hasErrors('username')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.password}">Password: </span> <span><input
					type="text" th:field="*{password}" /></span> <span
					th:if="${#fields.hasErrors('password')}" th:text="#{label.passwordError}">Error</span>
			</div>
		<div>
			<input type="submit" name="submit"/>
		</div>
	</form>
	</body>
</html>