<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Autori Inseriti</title>
</head>
<body>
	<h1>Autori inseriti nel sistema</h1>
	<p>
		<span th:text="#{label.nome}">Lista autori</span>
	</p>
	<ul>
		<th:foreach th:each="autore : ${autori}">
			<li><a th:text="${autore.nome}"
				th:href="@{/autore/resultsAutore(id=${autore.id})}"></a>
				<a th:href="@{/autore/cancella(id=${autore.id})}"><span>cancella</span></a></li>
		</th:foreach>
	</ul>

</body>
</html>