<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<title>Autore</title>
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png" />
<link rel="icon" type="image/png" href="img/apple-touch-icon.png" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link href="../static/css/results.css" th:href="@{/css/results.css}"
	rel="stylesheet" />


</head>
<body>
	<div class="main-container">

		<div class=" highlight" style="margin: 0 auto;">

			<h1 th:text="${autore.nome} + ${autore.cognome}"> </h1>
			<div class="row">

				<img th:src="${autore.url}" alt="autore immagine"
					style="height: 200px; width: 200px" />
				
					<div>
						<p th:text="'Nome: ' + ${autore.nome} + ${autore.cognome}" />
					</div>
					
					<div>
						<p th:text="'Nazionalità: ' + ${autore.nazionalita}" />
					</div>
					<div>
						<p th:text="'DataNascita: ' + ${autore.annoNascita}" />
					</div>
					<div>
						<p th:text="'DataMorte: ' + ${autore.annoMorte}" />
					</div>
					
			</div>
			<div class="row">
				<div>
			<div>Opere:
					</div>	
    	<ul>
			<th:foreach th:each="opera : ${autore.opere}">
				<li><a th:text="${opera.nome}"
					th:href="@{/opera/resultsOpera(id=${opera.id})}"></a> </li>
			</th:foreach>
		</ul>
    </div>
				<a th:href="@{/}"> <span><input type="submit" name="submit" value="Home" /></span></a>
		
			</div>
		</div>
	</div>
	
</body>
</html>