<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modifica opera</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/opera/modificaOpera(id=${opera.id})}" th:object="${opera}"
		method="post" >
		<div>
			<div>
				<span th:text="#{label.nome}">Nome: </span> <span><input
					type="text" th:field="*{nome}" /></span> <span
					th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.descrizione}">Descrizione: </span> <span><input
					type="text" th:field="*{descrizione}" /></span> <span
					th:if="${#fields.hasErrors('descrizione')}"
					th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.anno}">Anno: </span> <span><input
					type="text" th:field="*{anno}" /></span> <span
					th:if="${#fields.hasErrors('anno')}" th:text="#{label.number}">Error</span>
			</div>
			<div>
				<span th:text="#{label.autore}">Autore:</span> <select
					th:field="*{autore}">
					<option th:each="autore : ${autori}" th:value="${autore.id}"
						th:text="${autore.nome} +' '+ ${autore.cognome}"></option>
				</select>
			</div>
			<div>
				<span th:text="#{label.stanza}">Stanza:</span> <select
					th:field="*{stanza}">
					<option th:each="stanza : ${stanze}" th:value="${stanza.id}"
						th:text="${stanza.nome}"></option>
				</select>
			</div>
			<div>
				<input type="submit" name="submit"/>
			</div>
		</div>
	</form>
</body>
</html>