
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png" />
<link rel="icon" type="image/png" href="img/apple-touch-icon.png" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link href="../static/css/results.css" th:href="@{/css/results.css}"
	rel="stylesheet" />

</head>
<body>
	<div class="main-container">

		<div class=" highlight" style="margin: 0 auto;">

			<h1 th:text="${stanza.nome}"> </h1>
			<div class="row">

				<img th:src="${stanza.url}" alt="stanza immagine"
					style="height: 100px; width: 100px" />
				
					<div>
						<p th:text="'Nome: ' + ${stanza.nome}" />
					</div>
				
			</div>
			<div class="row">
				<div>
    	<p th:text="'Descrizione: ' + ${stanza.descrizione}" />
    </div>
				<a th:href="@{/}"> <span><input type="submit" name="submit"
			value="Home" /></span></a>
		
			</div>
		</div>
	</div>

</body>
</html>