<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<title>Stanze</title>
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png" />
<link rel="icon" type="image/png" href="img/apple-touch-icon.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<link href="../static/css/results.css" th:href="@{/css/results.css}"
	rel="stylesheet" />


</head>
<body>
	<div class="main-container">

		<div class=" highlight" style="margin: 0 auto;">

			<h1>Lista delle stanze (mostre)</h1>
			<div class="row"></div>
			<div class="row">
				<div>
					<ul>
						<th:foreach th:each="stanza : ${stanze}">
							<li><a th:text="${stanza.nome}"
								th:href="@{/stanza/resultsStanza(id=${stanza.id})}"></a> <a
								th:href="@{/stanza/cancella(id=${stanza.id})}"><span><input
										type="submit" name="submit" value="cancella" /></span></a> <a
								th:href="@{/stanza/modificaStanza(id=${stanza.id})}"><span><input
										type="submit" name="submit" value="modifica" /></span></a></li>
						</th:foreach>
					</ul>
				</div>
				<a th:href="@{/}"> <span><input type="submit"
						name="submit" value="Home" /></span></a>

			</div>
		</div>
	</div>

</body>
</html>