<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>Stanze Inserite</title>
 </head>
 <body>
 	<h1>Stanze inserite nel sistema</h1>
 	<p>
 		<span th:text="#{label.nome}">Lista stanze</span>
 	</p>
 	<ul>
 		<th:foreach th:each="stanza : ${stanze}">
 			<li><a th:text="${stanza.nome}"
 				th:href="@{/stanza/resultsStanza(id=${stanza.id})}"></a>
 			<a th:href="@{/stanza/cancella(id=${stanza.id})}"><span>cancella</span></a>
 <a th:href="@{/stanza/modificaStanza(id=${stanza.id})}"><span><input
						type="submit" name="submit" value="modifica" /></span></a></li>
 		</th:foreach>
 	</ul>
 </body>
 </html> 