<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 <title>Welcome Security with Spring Boot!</title>
 </head>
 <body>
     <h1 style="color:blue"> Hello! This is Admin Page!</h1>
     
     <a style="color:blue" th:href="@{/}">Go to Home Page</a>
     
     <br/>
     
     <p><a href="/opera">Inserisci nuova opera </a></p>   
    <p><a href="/autore">Inserisci nuovo autore </a></p> 
    <p><a href="/stanza">Inserisci nuova stanza </a></p> 
    <p><a href="/user">Inserisci nuovo utente </a></p> 
     <p><a href="/autori">Visualizza Lista Autori </a></p> 
    <p><a href="/opere">Visualizza Catalogo Opere </a></p> 
    <p><a href="/stanze">Visualizza elenco stanze </a></p> 
     
     <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     </form>
     
 </body>
</html>